<form {{action "submit" on="submit"}}>
  <textarea name="xx" class="form-control" rows="3"></textarea>
  <button type="submit" class="btn btn-default">submit</button>
</form>

<div class="messages">
  {{#each messages as |message|}}
    <div class="message">
      <span>{{message.user}}:&nbsp;</span>
      <span>{{message.body}}</span>
    </div>
  {{/each}}
</div>